/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, html {
  padding: 0;
  margin: 0; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body li, html h1, html h2, html h3, html h4, html h5, html h6, html p, html li {
    color: #ffffff; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, html h1, html h2, html h3, html h4, html h5, html h6, html p {
    text-align: center; }
  body h2, body h3, body h4, body h5, body button, html h2, html h3, html h4, html h5, html button {
    text-transform: uppercase; }
  body h2, html h2 {
    font-size: 60px;
    line-height: 66px; }
  body h3, html h3 {
    font-size: 48px; }
  body p, html p {
    font-size: 20px;
    line-height: 32px; }
  body button, html button {
    background: #ffffff;
    border-radius: 100px;
    padding: 5px 12px;
    font-size: 28px; }
  body .row, html .row {
    max-width: none; }
  body ul, html ul {
    padding: 0;
    margin: 0; }
    body ul li, html ul li {
      text-align: left; }
  body .one-column#intro, html .one-column#intro {
    background: rgba(224, 151, 79, 0.85); }
  body .one-column#get-in-touch, html .one-column#get-in-touch {
    background: rgba(172, 172, 173, 0.8); }
  body .one-column .content-wrapper, html .one-column .content-wrapper {
    width: 80%;
    margin: 0 auto; }
  body .two-column #continuous-scenting, html .two-column #continuous-scenting {
    background: rgba(194, 81, 222, 0.8); }
  body .two-column #focused-scenting, html .two-column #focused-scenting {
    background: rgba(239, 126, 143, 0.85); }
  body .two-column .content-wrapper, html .two-column .content-wrapper {
    width: 90%;
    margin: 0 auto; }
  body header, html header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    body header h1, html header h1 {
      padding: 0;
      margin: 0;
      text-align: center;
      position: relative; }
      body header h1 a img, html header h1 a img {
        margin: 0 auto;
        position: relative; }
    body header.opaque-background, html header.opaque-background {
      background: #000000; }
  body #video-nav, html #video-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right; }
  body nav, html nav {
    position: fixed;
    right: 20px;
    top: 50%; }
    body nav ul li a, html nav ul li a {
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
      border: 3px solid #ffffff;
      border-radius: 100px;
      display: block; }
      body nav ul li a.active, html nav ul li a.active {
        background: #ffffff; }
  body #big-video-wrap, html #big-video-wrap {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
